doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Dashboard - Brand
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
  link(rel='stylesheet' href='/stylesheets/Filter.css')
  link(rel='stylesheet' href='/stylesheets/landing.css')
body
    #wrapper
        #form
            p In order to run the demo locally, please input the port number where MVIS is running. The app will handle everything else from there.
            #form-div
                form(action="/main", method="POST")
                    label(for="port") Please Input Your Port Number : 
                        input#port(type="text", name="port" placeholder='Port Number' required) 
                    input(type="submit")


