extends layout

block content
    div(class="dropdown")
    button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown button
    div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
        a(class="dropdown-item" href="#") Action
        a(class="dropdown-item" href="#") Another
        a(class="dropdown-item" href="#") Something
