/* body {
  padding: 0px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

#banner {
  background-image: url(../images/banner.jpg);
  margin: 0;
  width: 100%;
  height: 400px;
}

#banner-layer {
  background-color: rgb(253, 247, 247);
  padding: 5px;
  margin: 12px;
  width: 30%;
  border-radius: 10px;
  color: black;
}

#filter div {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 20px;
  margin: 12px;
  width: 16%;
  border-radius: 12px;
}


.filter-option {
  margin: 0 3px;
} */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
