include filterOption.pug 


mixin filterSection(title,rel,data)
  button(class="collapsible" id=rel)= title
  div(class="content")
    table(class="filter-section" ) 
      tbody(rel=rel)
        each val in data
          +filterOption(rel,val)


