include filterOption.pug 


mixin filterSection(title,rel,data)
  button(class="collapsible" id="label")= title
  div(class="content")
    table 
      tbody
        each val in data
          +filterOption(rel,val)


