include navOption.pug

mixin navItem(title,rel,data)
    li.nav-item(role='presentation')
            div
                a.btn.btn-link.nav-link(data-toggle='collapse' aria-expanded='true' aria-controls=rel href='#' + rel role='button')
                    i.fab.fa-creative-commons-sampling
                    span(class="filter-header " + rel )= title
                div.collapse.show(id=rel)
                    .bg-white.border.rounded.py-2.collapse-inner
                        each val in data
                            +navOption(rel,val)